html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

body nav {
  position: -webkit-sticky;
  position: sticky;
  padding: 1.2em 1em 1em 1em;
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#143c85), color-stop(#30eebf), to(rgba(247, 85, 85, 0.945)));
  background: linear-gradient(to right, #143c85, #30eebf, rgba(247, 85, 85, 0.945));
}

body nav p {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 2em;
  font-weight: bolder;
}

body nav p::first-letter {
  color: #382727;
}

body section {
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 80vh;
}

body section h1 {
  color: #FFFFFF;
}
